html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    opacity: 80%;
    background-image: linear-gradient(black,#787f9e);
}

.cart-item {
    padding-left: 20px;
    color: white;
    font-weight: 500;
    font-size: 28px;
    list-style-type: none;
}

.jumbotron {
    padding: 5rem 2rem;
    height: 650px;
    background-image: url('../img/header2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: white;
    padding-top: 6rem;
}

.jumbotron img {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.navbar-nav {
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #789b96;
    
}

.navbar .navbar-brand {
    color: white;
}

.btn{
    
    border-radius: 10px;
}

.col .bi-geo-alt {
    margin-right: 0.5rem;
}

section h2 {
    text-align: center;
    padding-bottom: 3rem;
    margin-top: 5rem;
    font-weight: 550;
}

#highlight h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 160px;
}

.container-satu {
    width: 1200px;
    height: 550px;
    margin-left: 200px;
    box-sizing: border-box;
    display: flex;
    text-align: start;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.kolom-utama {
    flex: 6;
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 80px;
}


.sidebar-satu {
    flex: 4;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.sidebar-dua {
    flex: 4;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;

}

.container-satu .sidebar-satu .gmbr:hover, .sidebar-dua .gmbr:hover {
    transform: scale(1.2);
    transition: all .3s linear;
}

.gmbr {
    border-radius: 20px;
}

#blog {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

#blog .container .row h2 {
    margin-bottom: 90px;
}

#about {
    margin-bottom: 6rem;
}

#btgmedia {
    font-weight: bold;
}

#about .container .row .col h2 {
    margin-top: 2.5rem;
    margin-bottom: 40px;
}

.container-news {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
}

.container-news .heading {
    font-size: 40px;
    margin-bottom: 70px;

}

.container-news .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.container-news .box-container .box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 10px rgb(247, 244, 244);
}

.container-news .box-container .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.container-news .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-news .box-container .box:hover .image img {
    transform: scale(1.1);
    transition: all .2s linear;
}

.container-news .box-container .box .content p {
    font-size: 15px;
    line-height: 1.4;
    word-spacing: 2px;
    text-align: justify;
}

.container-news .box-container .box .content h3 {
    font-weight: 650;
}

.container-news .box-container .box .content .btn-news {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    color: black;
    font-size: 13px;
    text-decoration: none;
}

.container-news .box-container .box .content .btn-news:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.container-news .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334; 
}

#mr4 {
    display: none;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100px * 8));
    }
}

.slider {
    padding-top: 4rem;
    padding-bottom: 50px;
    place-items: center;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(200px * 10);
}

.slider .slide {
    height: 100px;
    width: 250px;
    padding: 10px auto;
}

.slider .slide img {
    justify-content: center;
}

.row-contact {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 6rem;
}

.contact h2, .about h2 {
    font-weight: 600;
}

.row-contact .col-contact .location {
    margin-right: 425px;
}

.row-contact .col-contact .office {
    margin-right: 415px;
    margin-bottom: 0px;
    margin-top: 30px;
}

#about p {
    text-align: justify;
}

#about {
    padding-top: 4rem;
}

.phone .bi-telephone, .bi-envelope, .bi-whatsapp {
    font-size: 25px;
    padding-right: 0.5rem;
}

.phone p {
    margin-bottom: 1rem;
    font-style: italic;
}

#about img {
    width: 100%;
    height: auto;
   
}


.footer {
    background-image: linear-gradient(#787f9e, black);
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
    
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 400;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    list-style-type: none;
}

.footer-col ul {
    padding-left: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    margin-top: 0;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: black;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: black;
    background-color: #ffffff;
}

.body-todo {
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4f5363, white);
    min-height: 150vh;
}

#todotext {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: black;
}

.body-todo h1 {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 50px;
    font-weight: 600;
    color: #f8ebeb;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    
}

.body-todo h2 {
    font-size: 40px;    
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.5);

}

.container-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-todo a {
    position: relative;
    width: 150px;
    height: 60px;
    display: inline-block;
    background: white;
    margin: 20px;
}

.container-todo a:before, 
.container-todo a:after {
    content: '';
    position: absolute;
    inset: 0;
    background: red;
    transition: 0.4s;
}

.container-todo a:nth-child(1):before, 
.container-todo a:nth-child(1):after {
    background: linear-gradient(48deg, #19a0df, #101035,  #101035, #d400d4);  
}

.container-todo a:nth-child(4):before, 
.container-todo a:nth-child(4):after {
    background: linear-gradient(48deg, #b4df19, #101035,  #101035, #04db33);
}

.container-todo a:hover:before {
    inset: -3px;
}

.container-todo a:hover:after {
    inset: -3px;
    filter: blur(10px);
}

.container-todo a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #101035;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border: 1px solid black;
    overflow: hidden;
}

.container-todo a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skew(25deg);
}